:root {
  --bg: #0c0023;
  --innerBg: #110032;
  --text: #f1e5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: var(--bg) !important;
  color: var(--text);
}
a {
  color: var(--text);
  text-transform: capitalize;
}
img {
  border-radius: 0.4rem;
}

nav.MuiList-root.MuiList-padding.css-1mcnwpj-MuiList-root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  width: 100%;
}
.css-aq1gdx-MuiDrawer-docked .MuiDrawer-paper .dsbl {
  display: none;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root,
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #00101f !important;
  color: #f1e5ff !important;
  svg {
    fill: #f1e5ff !important;
  }
}
main.css-fxbtpg {
  background-color: #030617 !important;
}
.css-t5ouwv-MuiPaper-root,
.css-1ny42z-MuiPaper-root {
  background-color: #ab8cc8 !important;
}
.css-9wziol-MuiTypography-root {
  color: #c4c4c4 !important;
}
