:root {
  --bg: #0c0023;
  --innerBg: #110032;
  --text: #f1e5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: var(--bg);
  color: var(--text);
}
a {
  color: var(--text);
  text-transform: capitalize;
}
img {
  border-radius: 0.4rem;
}
