// -----------------------home pahe cnank----------------------------------

.whole__page {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
}

nav.Dashboard__navbar {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

aside.Dashboard__asideBar {
  width: calc(100% - 70%);
  height: 100vh;
  background: cadetblue;
}

.Dashboard__msg__notification__user {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user__pic__Dashboard {
  width: 45px;
  height: 45px;
}

img.Dashboard__user__Pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.Dashboard__navbar__con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form.form__search__Dashboard {
  position: relative;
}

input.Dashboard__search {
  background: #8a2be247;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 50px;
}

button.submit_-search__Dashboard {
  border-radius: 50px;
  position: absolute;
  right: 5%;
  top: 9px;
  width: 30px;
  background: #cc91ff99;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification__msg__Dashboard {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconBg {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c382ff;
  border-radius: 0.5rem;
  position: relative;
}
.iconBg::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #9300a4;
  position: absolute;
  top: -4px;
  right: -4px;
}

.iconBg svg {
  fill: black;
}

.user__Dashboard {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.userInfo__Dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
  gap: 0.4rem;
}

ul.Outter__List {
  width: 100%;
  padding: 2.4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li.outter__list__item .show {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.icon_\&_name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

li.outter__list__item .show svg {
  width: 1.2rem;
  height: 1.2rem;
}

li.outter__list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

ul.inner__option {
  padding-left: 2rem;
  /* border: 1px solid; */
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.inner__option.active {
  visibility: visible;
  height: 50px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.icon__showMOre {
  cursor: pointer;
}
li.innwe__list__option {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main.Ds {
  position: absolute;
  top: 80px;
  left: calc(100% - 70%);
}
// -----------------------home pahe cnank----------------------------------
// -----------------------add post pahe cnank----------------------------------

.AddArticle {
  width: 75%;
}

.AddArticle form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin: 4rem 0;
}

.FormGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

label {
  font-size: 1.4rem;
}

span.errorMsg {
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: red;
}

input#Input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #0c0023;
  box-shadow: inset 9px 9px 18px #05000e, inset -9px -9px 18px #130038;
  color: aliceblue;
  text-transform: capitalize;
  border: 0.2px solid #dddddd1f;
}

select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #0c0023;
  box-shadow: inset -12px -12px 23px #05000e, inset 12px 12px 23px #130038;
  color: aliceblue;
  text-transform: capitalize;
  font-size: 1rem;
  border: 0.2px solid #dddddd1f;
}

option {
  padding: 0.5rem;
}

button.add_post {
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0.8rem 2.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #0c0023;
  box-shadow: inset -12px -12px 23px #05000e, inset 12px 12px 23px #130038;
  color: aliceblue;
  border: 1px solid #dddddd30;
}
.jodit-react-container {
  width: 100%;
  height: 300px;
}
.jodit-container.jodit.jodit_theme_default.jodit-wysiwyg_mode {
  height: 100% !important;
}
// -----------------------add post pahe cnank----------------------------------

// -----------------------all post pahe cnank----------------------------------
.AllPosts {
  width: 75%;
  margin: 4rem 0;
}

header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  text-transform: capitalize;
}

button.addPost {
  font-size: 1rem;
  text-transform: capitalize;
  background: transparent;
  color: aliceblue;
  border: 0.5px solid #dddddd57;
  padding: 0.8rem 2.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

header.header form input {
  font-size: 1rem;
  text-transform: capitalize;
  color: aliceblue;
}

span.nameHD {
  font-size: 1.4rem;
}

.postSingel {
  width: 300px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dddddd2b;
}

.imgDBAL {
  width: 100%;
}

.imgDBAL img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts__DBAL {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

h2.titleof__DBLa {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

p.text__decDBAL {
  font-size: 0.8rem;
}

.AllPosts__singel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 4rem 0;
}
// -----------------------all post pahe cnank----------------------------------

// -----------------------tag add pahe cnank----------------------------------
.AddTag {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  height: 50vh;
  justify-content: center;
}

input.adding {
  width: 50% !important;
  padding-bottom: 6rem !important;
  font-size: 1rem;
  color: aliceblue;
}
// -----------------------tag add pahe cnank----------------------------------

// -----------------------tag all pahe cnank----------------------------------
.AllTags {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  gap: 2rem;
}

.TagSingel {
  width: 250px;
  height: auto;
  border: 1px solid #ddd;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.6rem;
  text-transform: capitalize;
}

.Tga__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.tagsIcon {
  display: flex;
  align-items: center;
  gap: 1rem;
  svg {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
  }
}

.singel_Tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 2rem 0;
}
